@model MyTravelBlogs.Models.Model

@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<div class="col-md-9 main">
    <!--banner-section-->
    <div class="banner-section">
        <h3 class="tittle">Seyahat Bloglarima Hosgeldiniz !</h3>
        <div class="banner">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <img src="https://i.hizliresim.com/tOYonk.jpg" class="img-responsive" alt="" />

                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/ryPVhE.jpg" class="img-responsive" alt="" />


                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/X9AB7q.jpg" class="img-responsive" alt="" />


                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/Fud4bt.jpg" class="img-responsive" alt="" />


                    </li>
                </ul>
            </div>
            <!--banner-->
            <script src="~/web/js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
            <div class="clearfix"> </div>
            <div class="b-bottom">
                <h3 class="top">
                    <a>
                        Herkese Merhaba;<br />Bu siteyi, yurtdısında gezip gördügüm yerlerle ilgili görüslerimi, anılarımı
                        naçizane blog seklinde yazılara döktügüm bir platform seklinde kullanıyorum. Umarım bu sehirlerden birine seyahat etmeyi
                        isteyen kisilere faydalı olur.<br />iyi okumalar <i class="fas fa-smile-beam"></i>
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <!--//banner-section-->
    <div class="banner-right-text">
        <h3 style="border-bottom: solid;border-bottom-color:darkred ; width: 290px" class="tittle">Son Eklenen Blog </h3>
        <!--/general-news-->

        <div class="general-news">
            <div class="general-inner">
                @foreach (var lastBlog in Model.Blogs2)
                {
                    <div class="general-text">
                        <a href="~/Blogdetail/BlogDetail/@lastBlog.blogId"><img src="@lastBlog.blogImage" class="img-responsive" alt=""></a>
                        <h5 class="top"><a href="~/Blogdetail/Blogdetail/@lastBlog.blogId">@lastBlog.title</a></h5>
                        <p>@lastBlog.blogContent.Substring(0, 100)<a href="~/Blogdetail/BlogDetail/@lastBlog.blogId"><b>Devamını Oku</b></a></p>
                        <p>@lastBlog.blogDate<a class="span_link" href="#"></a></p>
                    </div>
                }
                <br /><br />
                <h1 style="border-bottom: solid;border-bottom-color:darkred ; width: 130px" class="tittle">Bloglar </h1>
                @foreach (var blog in Model.Blogs)
                {
                    <div class="edit-pics">
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="@blog.blogImage" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="~/Blogdetail/Blogdetail/@blog.blogId">@blog.title</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>@blog.blogDate<a href="#"></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--//general-news-->
        <!--/news-->
        <!--/news-->
    </div>
    <div class="clearfix"> </div>
    <!--/footer-->
    <div class="footer">
        <div class="footer-top">
            <div class="col-md-4 footer-grid">
                <h4>Alperen Öz</h4>
                <ul class="bottom">
                    <li>Seyahat Bloglarım</li>
                    <li>Geri bildirimler için teşekkürler</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Bildirim İçin</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-home"></i>24/7 Müsait</li>
                    <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:alperenoz1464@gmail.com">alperenoz1464@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Adres</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-map-marker"></i>Usak/TURKEY </li>
                    <li><i class="glyphicon glyphicon-earphone"></i>telefon: (507) 602-00-83 </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2021 Ocak. Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
    <div class="clearfix"> </div>
</div>