@model MyTravelBlogs.Models.Model

@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<div class="col-md-9 main">
    <!--banner-section-->
    <div class="banner-section">
        <h3 class="tittle">Seyahatlerden Kareler <i class="glyphicon glyphicon-picture"></i></h3>
        <div class="banner">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <img src="https://i.hizliresim.com/tOYonk.jpg" class="img-responsive" alt="" />

                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/ryPVhE.jpg" class="img-responsive" alt="" />


                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/jEhk7F.jpg" class="img-responsive" alt="" />


                    </li>
                    <li>
                        <img src="https://i.hizliresim.com/Fud4bt.jpg" class="img-responsive" alt="" />


                    </li>
                </ul>
            </div>
            <!--banner-->
            <script src="~/web/js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
            <div class="clearfix"> </div>
            <div class="b-bottom">
                <h5 class="top"><a href="single.html">Site hakkında genel bilgilendirme yazısı yazılacak</a></h5>
                <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a></p>
            </div>
        </div>
        <!--//banner-->
        <!--/top-news-->

        <div class="top-news">
            <h3 class="tittle">Seyahat Ettiğim Yerler<i class="glyphicon glyphicon-picture"></i></h3>
            <div class="top-inner">
                <div class="col-md-6 top-text">
                    <a href="single.html"><img src="~/web/images/pic1.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                </div>
                <div class="col-md-6 top-text two">
                    <a href="single.html"><img src="~/web/images/pic2.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="top-inner second">
                <div class="col-md-6 top-text">
                    <a href="single.html"><img src="~/web/images/pic3.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                </div>
                <div class="col-md-6 top-text two">
                    <a href="single.html"><img src="~/web/images/pic4.jpg" class="img-responsive" alt=""></a>
                    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--//top-news-->
    </div>
    <!--//banner-section-->
    <div class="banner-right-text">
        <h3 class="tittle">Son Eklenen Blog </h3>
        <!--/general-news-->

        <div class="general-news">
            <div class="general-inner">
                @foreach (var lastBlog in Model.Blogs2)
                {
                    <div class="general-text">
                        <a href="single.html"><img src="@lastBlog.blogImage" class="img-responsive" alt=""></a>
                        <h5 class="top"><a href="~/Blogdetail/Blogdetail/@lastBlog.blogId">@lastBlog.title</a></h5>
                        <p>@lastBlog.blogContent.Substring(0, 100) <a href="~/Blogdetail/BlogDetail/@lastBlog.blogId"><b>Devamını Oku</b></a></p>
                        <p>@lastBlog.blogDate<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"></a></p>
                    </div>
                }
                <br /><br />
                <h1 class="tittle">Bloglar </h1>
                @foreach (var blog in Model.Blogs)
                {
                    <div class="edit-pics">
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="@blog.blogImage" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="~/Blogdetail/Blogdetail/@blog.blogId">@blog.title</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>@blog.blogDate<a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--//general-news-->
        <!--/news-->
        <!--/news-->
    </div>
    <div class="clearfix"> </div>
    <!--/footer-->
    <div class="footer">
        <div class="footer-top">
            <div class="col-md-4 footer-grid">
                <h4>Alperen Öz</h4>
                <ul class="bottom">
                    <li>Seyahat Bloglarım</li>
                    <li>Geri bildirimler için teşekkürler</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Message Us Now</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-home"></i>24/7 Müsait</li>
                    <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:alperenoz1464@gmail.com">alperenoz1464@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Address Location</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-map-marker"></i>Usak/TURKEY </li>
                    <li><i class="glyphicon glyphicon-earphone"></i>phone: (888) 123-456-7899 </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2021 Ocak. Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
    <div class="clearfix"> </div>
</div>