@model MyTravelBlogs.Models.Model

@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
}


<div class="col-md-9 main">
    <!--banner-section-->
    <div class="banner-section">
        @foreach (var blog in Model.Blogs)
        {
            <h3 class="tittle"><a href="~/Blogdetail/BlogDetail/@blog.blogId">@blog.title</a></h3>
            <div class="single">
                <img src="@blog.blogImage" class="img-responsive" alt="" />
                <div class="b-bottom">
                    <h5 class="top"><a href="~/Blogdetail/Blogdetail/@blog.blogId">@blog.title</a></h5>
                    <p class="sub">@blog.blogContent.Substring(0, 100) <a href="~/Blogdetail/BlogDetail/@blog.blogId"><b>Devamını Oku</b></a></p>
                    <p>@blog.blogDate <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0</a></p>

                </div>
                <br />
            </div>
        }
        <!--
        div class response
            div class comment-form
        -->
        <div class="clearfix"></div>
    </div>
    <!--//banner-->
    <!--//banner-section-->
    <div class="banner-right-text">
        <h3 class="tittle">Son Eklenen Blog</h3>
        @foreach (var lastBlog in Model.Blog)
        {
            <h2 class="top"><a href="~/BlogDetail/BlogDetail/@lastBlog.blogId">@lastBlog.title</a></h2>
            <div class="general-news">
                <div class="general-inner">
                    <div class="general-text">
                        <a href="#"><img src="@lastBlog.blogImage" class="img-responsive" alt=""></a>
                        <h5 class="top"><a href="~/Blogdetail/BlogDetail/@lastBlog.blogId">@lastBlog.title</a></h5>
                        <p class="sub">@lastBlog.blogContent.Substring(0, 100) <a href="~/Blogdetail/BlogDetail/@lastBlog.blogId"><b>Devamını Oku</b></a></p>
                        <p>@lastBlog.blogDate<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"></a></p>
                    </div>
                </div>
            </div>
        }
        <!--//general-news-->
        <!--/news-->
        <!--/news-->
    </div>
    <div class="clearfix"> </div>
    <!--/footer-->
    <div class="footer">
        <div class="footer-top">
            <div class="col-md-4 footer-grid">
                <h4>Lorem sadipscing </h4>
                <ul class="bottom">
                    <li>Consetetur sadipscing elitr</li>
                    <li>Magna aliquyam eratsed diam</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Message Us Now</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-home"></i>Available 24/7 </li>
                    <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com">mail@example.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Address Location</h4>
                <ul class="bottom">
                    <li><i class="glyphicon glyphicon-map-marker"></i>2901 Glassgow Road, WA 98122-1090 </li>
                    <li><i class="glyphicon glyphicon-earphone"></i>phone: (888) 123-456-7899 </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2016 Blogger. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
    <div class="clearfix"> </div>
</div>
